@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	color: #fff;
	text-align: center;
	margin-top: 50px;
	font-size: 28px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.container {
	width: 300px;
	margin-top: 100px;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	color: #444;
}

form input[type="text"],
form input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

form input[type="submit"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #5D54A4;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: #6A679E;
}

p.error {
	color: #f00;
	text-align: center;
	margin-top: 10px;
}
