<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Answer Question</h2>
    <!-- Answer form fields -->

    <form id="responderExameForm">
      <label for="exameId">Exame ID:</label>
      <input type="text" id="exameId" name="exameId" required>
      <br><br>
      <label for="respostas">Respostas:</label>
      <br>
      <textarea id="respostas" name="respostas" rows="5" required></textarea>
      <br><br>
      <button type="submit">Responder Exame</button>
    </form>

    <h2>Generate Report</h2>
    <form id="reportForm">
      <label for="exameId">Exam ID:</label>
      <input type="text" id="exameId" name="exameId" required>
      <br><br>
      <button type="submit">Generate Report</button>
    </form>

  <script>
    // Report form submission
    $(document).ready(function() {
      $('#reportForm').submit(function(event) {
        event.preventDefault();
    
        var form = $(this);
        var exameId = form.find('#exameId').val();
    
        $.ajax({
          type: 'GET',
          url: '/exames/' + exameId + '/relatorio',
          success: function(response) {
            var respostas = response.respostas;
    
            // Process the report data as needed
            console.log(respostas);
    
            // Reset the form
            form[0].reset();
          },
          error: function(xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          }
        });
      });
    });
  
  </script>
      
</body>
</html>