<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Student</title>
  <link rel="stylesheet" href="{{url_for('static', filename='aluno.css')}}">
</head>
<body>

  <div class="grid-container">
    <div class="card">
      <h2>Answer Question</h2>
      <!-- Campo do formulário para inserir o ID do exame -->
      <form id="exameForm">
        <label for="exameId">Exame ID:</label>
        <input type="text" id="exameId" name="exameId" required>
        <br><br>
        <button type="button" id="loadQuestionsBtn">Load Questions</button>
      </form>
    </div>
    
    <div id="questionsContainer" class="card" style="display: none;">
      <h2>Exam Questions</h2>
      <form id="responderExameForm" action="" method="post">
        <input type="hidden" id="exameIdHidden" name="exameIdHidden">
        <div id="questionsList"></div>
        <br><br>
        <button type="submit">Submit Answers</button>
      </form>
    </div>

    <div class="card">
      <h2>Generate Report</h2>
      <form id="reportForm">
        <label for="reportExameId">Exam ID:</label>
        <input type="text" id="reportExameId" name="exameId" required>
        <br><br>
        <button type="submit">Generate Report</button>
      </form>
    </div>
    <div id="reportContainer" class="card" style="display: none;"></div>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Variável global para armazenar o valor do exameId
    var exameIdHidden = '';

  // Função para carregar as perguntas na interface do usuário
  function loadQuestions(questions, exameId) {
    var questionsList = $('#questionsList');
    questionsList.empty(); // Limpa as questões anteriores (se houver)

    // Define o ID do exame no campo escondido
    $('#exameIdHidden').val(exameId);

    questions.forEach(function (question) {
        var additionalInfo = '';
        console.log(question);
        if (question.question_type === 'true_false') {
            additionalInfo = 'Preencha com "V" para verdadeiro ou "F" para falso';
        } else if (question.question_type === 'dissertation') {
            additionalInfo = 'Escreva a resposta no campo abaixo';
        } else if (question.question_type === 'multiple_choice') {
            additionalInfo = 'Escolha uma opção: ' + question.options.join(', ');
        }
      questionsList.append(
        '<h3>Questão ' + question.id + ':</h3>' +
        '<p>' + question.question + '</p>' +
          '<p><strong>' + additionalInfo + '</strong></p>' +
        '<label for="questao' + question.id + '">Resposta:</label>' +
        '<br>' +
        '<textarea id="questao' + question.id + '" name="questao' + question.id + '" rows="5" required></textarea>' +
        '<br><br>'
      );
    });

    // Mostra o container de questões
    $('#questionsContainer').show();
  }

  // Função para verificar se o aluno já respondeu o exame
  function checkIfExamAnswered(exameId) {
    $.ajax({
      type: 'GET',
      url: '/exames/' + exameId + '/respondeu',
      success: function (response) {
        if (response.respondeu) {
          alert('Você já respondeu esse exame. Não é permitido responder novamente.');
        } else {
          // Se o aluno não respondeu, carrega as perguntas do exame
          $.ajax({
            type: 'GET',
            url: '/exames/' + exameId + '/questions',
            success: function (response) {
              var questionsList = $('#questionsList');
              questionsList.empty(); // Limpa as questões anteriores (se houver)

              if (response.error) {
                alert(response.error);
              } else {
                loadQuestions(response.questions, exameId); // Passa o ID do exame para a função loadQuestions
              }
            },
            error: function (xhr, textStatus, error) {
              var errorMessage = xhr.responseJSON.error;
              alert(errorMessage);
            },
          });
        }
      },
      error: function (xhr, textStatus, error) {
        var errorMessage = xhr.responseJSON.error;
        alert(errorMessage);
      }
    });
  }

  // Envio do formulário para carregar as perguntas
  $(document).ready(function () {
    $('#loadQuestionsBtn').click(function () {
      var exameId = $('#exameId').val(); // Obtem o valor do campo exameId

      // Chama a função para verificar se o aluno já respondeu o exame
      checkIfExamAnswered(exameId);
    });
  });

  $(document).ready(function() {
  $('#exameForm').submit(function(event) {
    event.preventDefault(); // Prevent the form from submitting normally
    $('#loadQuestionsBtn').click(); // Trigger the click event of the button
  });
});

    // Envio do formulário de resposta
    $(document).ready(function () {
      $('#responderExameForm').submit(function (event) {
        event.preventDefault();

        var form = $(this);
        var exameId = $('#exameIdHidden').val(); // Obtém o ID do exame do campo escondido

        // Serialize the form data into an object
        var respostas = {};
        form.find('textarea[name^="questao"]').each(function () {
          var questaoId = $(this).attr('name').replace('questao', '');
          var resposta = $(this).val();
          respostas[questaoId] = resposta;
        });

        var jsonData = {
          respostas: respostas,
        };

        $.ajax({
          type: 'POST',
          url: '/exames/' + exameId + '/responder',
          data: JSON.stringify(jsonData),
          contentType: 'application/json',
          success: function (response) {
            if (response.error) {
              alert(response.error); // Exibe mensagem de erro, se houver
            } else {
              alert("Prova respondida com sucesso!"); // Exibe a mensagem de sucesso
              form[0].reset();
            }
          },
          error: function (xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          },
        });
      });
    });

    // Envio do formulário de relatório
    $(document).ready(function () {
      $('#reportForm').submit(function (event) {
        event.preventDefault();

        var form = $(this);
        var exameId = $('#reportExameId').val(); // Obtem o valor do campo reportExameId

        $.ajax({
          type: 'GET',
          url: '/exames/' + exameId + '/relatorio',
          success: function (response) {
            if (response.error) {
              alert(response.error); // Exibe mensagem de erro, se houver
            } else {
              // Processar os dados do relatório e exibir na tela
              var respostas = response.respostas;

              var reportContent = '<h2>Exam Report</h2>';
              reportContent += '<table>';
              reportContent += '<tr><th>Question</th><th>Your Answer</th><th>Correct Answer</th><th>Score</th></tr>';
              respostas.forEach(function (resposta) {
                reportContent += '<tr>';
                reportContent += '<td>' + resposta.questao + '</td>';
                reportContent += '<td>' + resposta.resposta_aluno + '</td>';
                reportContent += '<td>' + resposta.resposta_correta + '</td>';
                reportContent += '<td>' + resposta.pontuacao + '</td>';
                reportContent += '</tr>';
              });
              reportContent += '</table>';

              // Exibe o relatório no containe
              $('#reportContainer').html(reportContent);
              $('#reportContainer').show();
            }
          },
          error: function (xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          }
        });
      });
    });
  </script>
</body>
</html>
