<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Student</title>
  <link rel="stylesheet" href="{{url_for('static', filename='aluno.css')}}">
</head>
<body>

  <div class="grid-container">
    <div class="card">
      <h2>Answer Question</h2>
      <!-- Campo do formulário para inserir o ID do exame -->
      <form id="exameForm">
        <label for="exameId">Exame ID:</label>
        <input type="text" id="exameId" name="exameId" required>
        <br><br>
        <button type="button" id="loadQuestionsBtn">Load Questions</button>
      </form>
    </div>

    <div id="questionsContainer" class="card" style="display: none;">
      <h2>Exam Questions</h2>
      <form id="responderExameForm">
        <input type="hidden" id="exameIdHidden" name="exameIdHidden">
        <div id="questionsList"></div>
        <br><br>
        <button type="submit">Submit Answers</button>
      </form>
    </div>

    <div class="card">
      <h2>Generate Report</h2>
      <form id="reportForm">
        <label for="exameId">Exam ID:</label>
        <input type="text" id="exameId" name="exameId" required>
        <br><br>
        <button type="submit">Generate Report</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Envio do formulário para carregar as perguntas
  $(document).ready(function () {
    $('#loadQuestionsBtn').click(function () {
      var exameId = $('#exameId').val();
      $('#exameIdHidden').val(exameId);

      // Get questions via AJAX and populate the form
      $.ajax({
        type: 'GET',
        url: '/exames/' + exameId + '/questions',
        success: function (response) {
          var questionsList = $('#questionsList');
          questionsList.empty(); // Clear previous questions (if any)

          if (response.error) {
            alert(response.error);
          } else {
            response.questions.forEach(function (question) {
              questionsList.append(
                '<label for="questao' + question.id + '">Question ' + question.id + ':</label>' +
                '<br>' +
                '<textarea id="questao' + question.id + '" name="questao' + question.id + '" rows="5" required></textarea>' +
                '<br><br>'
              );
            });

            // Show the questions container
            $('#questionsContainer').show();
          }
        },
        error: function (xhr, textStatus, error) {
          var errorMessage = xhr.responseJSON.error;
          alert(errorMessage);
        },
      });
    });
  });
  // Envio do formulário de resposta
  $(document).ready(function () {
    $('#responderExameForm').submit(function (event) {
      event.preventDefault();

      var form = $(this);
      var exameId = form.find('#exameId').val();

      // Serialize the form data into an object
      var respostas = {};
      form.find('textarea[name^="questao"]').each(function () {
        var questaoId = $(this).attr('name').replace('questao', '');
        var resposta = $(this).val();
        respostas[questaoId] = resposta;
      });

      var jsonData = {
        respostas: respostas,
      };

      $.ajax({
        type: 'POST',
        url: '/exames/' + exameId + '/responder',
        data: JSON.stringify(jsonData),
        contentType: 'application/json',
        success: function (response) {
          alert(response.message);
          form[0].reset();
        },
        error: function (xhr, textStatus, error) {
          var errorMessage = xhr.responseJSON.error;
          alert(errorMessage);
        },
      });
    });
  });

    // Envio do formulário de relatório
    $(document).ready(function() {
      $('#reportForm').submit(function(event) {
        event.preventDefault();
    
        var form = $(this);
        var exameId = form.find('#exameId').val();
    
        $.ajax({
          type: 'GET',
          url: '/exames/' + exameId + '/relatorio',
          success: function(response) {
            var respostas = response.respostas;
    
            // Processar os dados do relatório conforme necessário
            console.log(respostas);
    
            // Resetar o formulário
            form[0].reset();
          },
          error: function(xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          }
        });
      });
    });
  </script>
</body>
</html>
