<!DOCTYPE html>
<html>
<head>
  <title>Flask App</title>
  <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
</head>
<body>
  <div class="container">
    <h1>Welcome to Mudow!</h1>

    <div class="grid-container"> 
      <div class="grid-item">
        <h2>Create Question</h2>
        <form id="questionForm" action="/questions" method="POST">
          <!-- Question form fields -->
          <label for="questionText">Question:</label>
          <input type="text" id="questionText" name="question" required><br><br>

          <label for="answerText">Answer:</label>
          <input type="text" id="answerText" name="answer" required><br><br>

          <label for="scoreInput">Score:</label>
          <input type="number" id="scoreInput" name="score" required><br><br>

          <input type="submit" value="Create Question">
        </form>
      </div>

      <div class="grid-item">
        <h2>Create Exam</h2>
  <form id="examForm" action="/exames" method="POST">
    <!-- Exam form fields -->
    <label for="statusInput">Status:</label>
    <input type="text" id="statusInput" name="status" required><br><br>

    <label for="titleInput">Title:</label>
    <input type="text" id="titleInput" name="title" required><br><br>

    <label for="descriptionInput">Description:</label>
    <input type="text" id="descriptionInput" name="description" required><br><br>

    <label for="totalScoreInput">Total Score:</label>
    <input type="number" id="totalScoreInput" name="total_score" required><br><br>

    <label for="turmaInput">Turma:</label>
    <input type="text" id="turmaInput" name="turma" required><br><br>

    <label for="disciplinaInput">Disciplina:</label>
    <input type="text" id="disciplinaInput" name="disciplina" required><br><br>

    <label for="periodoInput">Periodo:</label>
    <input type="text" id="periodoInput" name="periodo" required><br><br>

    <label for="questionSelect">Select a Question:</label>
    <select id="questionSelect" name="questionSelect">
      <option value="1">Question 1</option>
      <option value="2">Question 2</option>
      <!-- Add more options as needed -->
    </select>
    <button type="button" id="addQuestionBtn">Add Question</button>

    <div id="selectedQuestionsContainer">
      <!-- Selected questions will be dynamically added here -->
    </div>

    <button type="submit">Create Exam</button>
    </form>
      </div>

      <div class="grid-item">
        <h2>Generate Report</h2>
        <form id="reportForm">
          <label for="exameId">Exam ID:</label>
          <input type="text" id="exameId" name="exameId" required>
          <br><br>
          <button type="submit">Generate Report</button>
        </form>
      </div>

      <div class="grid-item">
        <h2>Close Exam</h2>
        <form id="closeExamForm">
          <label for="exameId">Exam ID:</label>
          <input type="text" id="exameId" name="exameId" required>
          <br><br>
          <button type="submit">Close Exam</button>
        </form>
      </div>

        <div class="grid-item">
            <h2>Results</h2>
            <form id="ResultsForm" action="/visualizar_resultados">
                <label for="exameId">Exam ID:</label>
                <input type="text" id="exameId" name="exameID" required>

                <label for="turma">Turma:</label>
                <input type="text" id="turma" name="turma" required>

                <label for="disciplina">Disciplina:</label>
                <input type="text" id="disciplina" name="disciplina" required>

                <label for="periodo">Periodo:</label>
                <input type="text" id="periodo" name="periodo" required>

                <input type="submit" value="View">
            </form>
        </div>
        <div class="grid-item">
          <h2>Evaluate Exam</h2>
          <form id="evaluateExamForm">
            <label for="exameId">Exam ID:</label>
            <input type="text" id="exameId" name="exameId" required>
            <br><br>
            <button type="submit">Evaluate Exam</button>
          </form>
    
        </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    
    // Question form submission
  $('#questionForm').submit(function(event) {
    event.preventDefault();
    
    var form = $(this);
    var url = form.attr('action');
    var formData = form.serializeArray(); // Serialize form data as an array of objects
    
    var jsonData = {}; // Create an empty JavaScript object
    
    // Convert form data to JSON object
    $.each(formData, function(index, field) {
      jsonData[field.name] = field.value;
    });
    
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(jsonData), // Convert JSON object to a string
      contentType: 'application/json', // Set content type to JSON
      dataType: 'json', // Expect JSON response
      success: function(response) {
        alert(response.message);
        form[0].reset();
      },
      error: function(xhr, textStatus, error) {
        var errorMessage = xhr.responseJSON.error;
        alert(errorMessage);
      }
    });
  });

    
  
    $(document).ready(function() {
      var selectedQuestions = []; // Store the selected questions
      
      // Add question button click event handler
      $('#addQuestionBtn').click(function() {
        var questionSelect = $('#questionSelect');
        var selectedOption = questionSelect.find('option:selected');
        
        var questionId = selectedOption.val();
        var questionText = selectedOption.text();
        
        // Check if the question is already selected
        if (selectedQuestions.some(function(q) { return q.id === questionId; })) {
          alert('Question already selected');
          return;
        }
        
        // Create a question object and add it to selectedQuestions
        var questionObject = { id: questionId, text: questionText };
        selectedQuestions.push(questionObject);
        
        // Create a div to display the selected question
        var questionDiv = $('<div>').text(questionText);
        
        // Add a hidden input field to submit the question ID
        var questionInput = $('<input>')
          .attr('type', 'hidden')
          .attr('name', 'questions[]')
          .val(questionId);
        
        // Append the question div and input field to the selectedQuestionsContainer
        $('#selectedQuestionsContainer').append(questionDiv);
        $('#selectedQuestionsContainer').append(questionInput);
        
        // Reset the question select field
        questionSelect.val('');
      });
      
      // Exam form submission
      $('#examForm').submit(function(event) {
  event.preventDefault();
  
  var form = $(this);
  var url = form.attr('action');
  
  $.ajax({
    type: 'POST',
    url: url,
    data: JSON.stringify({
      status: $('#statusInput').val(),
      title: $('#titleInput').val(),
      description: $('#descriptionInput').val(),
      total_score: $('#totalScoreInput').val(),
      turma: $('#turmaInput').val(),
      disciplina: $('#disciplinaInput').val(),
      periodo: $('#periodoInput').val(),
      questions: selectedQuestions
    }),
    contentType: 'application/json',
    success: function(response) {
      alert(response.message);
      form[0].reset();
      selectedQuestions = []; // Reset the selected questions
      $('#selectedQuestionsContainer').empty(); // Clear the selected questions display
    },
    error: function(xhr, textStatus, error) {
      var errorMessage = xhr.responseJSON.error;
      alert(errorMessage);
    }
  });
  });
    });
    
    // Report form submission
    $(document).ready(function() {
      $('#reportForm').submit(function(event) {
        event.preventDefault();
    
        var form = $(this);
        var exameId = form.find('#exameId').val();
    
        $.ajax({
          type: 'GET',
          url: '/exames/' + exameId + '/relatorio',
          success: function(response) {
            var respostas = response.respostas;
    
            // Process the report data as needed
            console.log(respostas);
    
            // Reset the form
            form[0].reset();
          },
          error: function(xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          }
        });
      });
    });

    //Close exam form
    $(document).ready(function() {
      $('#closeExamForm').submit(function(event) {
        event.preventDefault();
    
        var form = $(this);
        var exameId = form.find('#exameId').val();
    
        $.ajax({
          type: 'POST',
          url: '/exames/' + exameId + '/close',
          success: function(response) {
            alert(response.message);
            form[0].reset();
          },
          error: function(xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          }
        });
      });
    });

    //Evaluate exam form
    $(document).ready(function() {
      $('#evaluateExamForm').submit(function(event) {
        event.preventDefault();
    
        var form = $(this);
        var exameId = form.find('#exameId').val();
    
        $.ajax({
          type: 'POST',
          url: '/exames/' + exameId + '/avaliar',
          success: function(response) {
            alert(response.message);
            form[0].reset();
          },
          error: function(xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          }
        });
      });
    });
    
    
    
  </script>
</body>
</html>
  
  