<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Answer Question</h2>
    <!-- Answer form fields -->

    <form id="responderExameForm">
      <label for="exameId">Exame ID:</label>
      <input type="text" id="exameId" name="exameId" required>
      <br><br>
      <label for="respostas">Respostas:</label>
      <br>
      <textarea id="respostas" name="respostas" rows="5" required></textarea>
      <br><br>
      <button type="submit">Responder Exame</button>
    </form>
    
</body>
</html>