<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Teacher</title>
  <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
</head>
<body>
  <div class="container">
    <h1>Welcome to Corrije Fácil!</h1>

    <div class="grid-container"> 
      <div class="grid-item">
        <h2>Create Question</h2>
        <form id="questionForm" action="/questions" method="POST">
            <label for="questionType">Question Type:</label>
            <select id="questionType" name="question_type" required>
              <option value="dissertation">Dissertation</option>
                <option value="multiple_choice">Multiple Choice</option>
                <option value="true_false">True or False</option>
            </select><br><br>
          <!-- Question form fields -->
          <label for="questionText">Question:</label>
          <input type="text" id="questionText" name="question" required><br><br>

          <label for="answerText">Answer:</label>
          <input type="text" id="answerText" name="answer" required><br><br>

          <label for="scoreInput">Score:</label>
          <input type="number" id="scoreInput" name="score" required><br><br>

            <div id="optionsField" style="display:none;">
                <label for="options">Options (separate with commas):</label>
                <input type="text" id="options" name="options">
            </div>

          <input type="submit" value="Create Question">
        </form>
      </div>

      <div class="grid-item">
        <h2>Create Exam</h2>
        <form id="examForm" action="/exames" method="POST">
          <!-- Exam form fields -->
          <label for="statusInput">Status:</label>
          <input type="text" id="statusInput" name="status" required><br><br>
  
          <label for="titleInput">Title:</label>
          <input type="text" id="titleInput" name="title" required><br><br>
  
          <label for="descriptionInput">Description:</label>
          <input type="text" id="descriptionInput" name="description" required><br><br>
  
          <label for="totalScoreInput">Total Score:</label>
          <input type="number" id="totalScoreInput" name="total_score" required><br><br>
  
          <label for="questionSelect">Select a Question:</label>
          <select id="questionSelect" name="questionSelect">
            <option value="" disabled selected>Select a question...</option>
          </select>

          <button type="button" id="addQuestionBtn">Add Question</button>
  
          <div id="selectedQuestionsContainer">
              <!-- Selected questions will be dynamically added here -->
          </div>
  
          <button type="submit">Create Exam</button>
      </form>
      </div>

      <div class="grid-container">
        <!-- Existing Generate Report Section -->
        <div class="grid-item">
          <h2>Generate Report</h2>
          <form id="reportForm">
            <label for="exameId">Exam ID:</label>
            <input type="text" id="exameId" name="exameId" required>
            <br><br>
            <button type="submit" id="generateReportBtn">Generate Report</button>
          </form>
        </div>
    
        <!-- New Exam Report Section -->
        <div class="grid-item">
          <div id="reportContainer" style="display: none;"></div>
        </div>
      </div>

      <div class="grid-item">
        <h2>Close Exam</h2>
        <form id="closeExamForm">
          <label for="exameId">Exam ID:</label>
          <input type="text" id="exameId" name="exameId" required>
          <br><br>
          <button type="submit">Close Exam</button>
        </form>
      </div>

       
    </div>
  </div>

  <form action="/logout" method="get">
    <button type="submit">Logout</button>
  </form>
</div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    
    // Question form submission
  $('#questionForm').submit(function(event) {
    event.preventDefault();
    
    var form = $(this);
    var url = form.attr('action');
    var formData = form.serializeArray(); // Serialize form data as an array of objects
    
    var jsonData = {}; // Create an empty JavaScript object
    
    // Convert form data to JSON object
    $.each(formData, function(index, field) {
      jsonData[field.name] = field.value;
    });
    
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(jsonData), // Convert JSON object to a string
      contentType: 'application/json', // Set content type to JSON
      dataType: 'json', // Expect JSON response
      success: function(response) {
        alert(response.message);
        form[0].reset();
        location.reload();
      },
      error: function(xhr, textStatus, error) {
        var errorMessage = xhr.responseJSON.error;
        alert(errorMessage);
      }
    });
  });

    
  
    $(document).ready(function() {
      var selectedQuestions = []; // Store the selected questions
      
      // Add question button click event handler
      $('#addQuestionBtn').click(function() {
        var questionSelect = $('#questionSelect');
        var selectedOption = questionSelect.find('option:selected');
        
        var questionId = selectedOption.val();
        var questionText = selectedOption.text();
        
        // Check if the question is already selected
        if (selectedQuestions.some(function(q) { return q.id === questionId; })) {
          alert('Question already selected');
          return;
        }
        
        // Create a question object and add it to selectedQuestions
        var questionObject = { id: questionId, text: questionText };
        selectedQuestions.push(questionObject);
        
        // Create a div to display the selected question
        var questionDiv = $('<div>').text(questionText);
        
        // Add a hidden input field to submit the question ID
        var questionInput = $('<input>')
          .attr('type', 'hidden')
          .attr('name', 'questions[]')
          .val(questionId);
        
        // Append the question div and input field to the selectedQuestionsContainer
        $('#selectedQuestionsContainer').append(questionDiv);
        $('#selectedQuestionsContainer').append(questionInput);
        
        // Reset the question select field
        questionSelect.val('');
      });
      
      // Exam form submission
      $('#examForm').submit(function(event) {
  event.preventDefault();
  
  var form = $(this);
  var url = form.attr('action');
  
  $.ajax({
    type: 'POST',
    url: url,
    data: JSON.stringify({
      status: $('#statusInput').val(),
      title: $('#titleInput').val(),
      description: $('#descriptionInput').val(),
      total_score: $('#totalScoreInput').val(),
      questions: selectedQuestions
    }),
    contentType: 'application/json',
    success: function(response) {
      alert(response.success);
      form[0].reset();
      selectedQuestions = []; // Reset the selected questions
      $('#selectedQuestionsContainer').empty(); // Clear the selected questions display
    },
    error: function(xhr, textStatus, error) {
      var errorMessage = xhr.responseJSON.error;
      alert(errorMessage);
    }
  });
  });
    });
    
    // Envio do formulário de relatório
    $(document).ready(function() {
    $('#reportForm').submit(function(event) {
      event.preventDefault();

      var form = $(this);
      var exameId = form.find('#exameId').val();

      $.ajax({
        type: 'GET',
        url: '/exames/' + exameId + '/relatorio',
        success: function(response) {
          var respostas = response.respostas;

          // Verifica se existem respostas no relatório
          if (respostas.length === 0) {
            alert("Nenhum relatório encontrado para o exame informado.");
            return;
          }

          // Processar os dados do relatório conforme necessário
          var reportHTML = '<h2>Exam Report</h2><table><tr><th>User ID</th><th>Question</th><th>Answer</th><th>Correct Answer</th><th>Score</th></tr>';
          for (var i = 0; i < respostas.length; i++) {
            var resposta = respostas[i];
            reportHTML += '<tr>';
            reportHTML += '<td>' + resposta.aluno + '</td>';
            reportHTML += '<td>' + resposta.questao + '</td>';
            reportHTML += '<td>' + resposta.resposta_aluno + '</td>';
            reportHTML += '<td>' + resposta.resposta_correta + '</td>';
            reportHTML += '<td>' + resposta.pontuacao + '</td>';
            reportHTML += '</tr>';
          }
          reportHTML += '</table>';

          // Exibir o relatório na div com o ID "reportContainer"
          $('#reportContainer').html(reportHTML);
          $('#reportContainer').show();

          // Resetar o formulário
          form[0].reset();
        },
        error: function(xhr, textStatus, error) {
          var errorMessage = xhr.responseJSON.error;
          alert(errorMessage);
        }
      });
    });
  });

    //Close exam form
    $(document).ready(function() {
      $('#closeExamForm').submit(function(event) {
        event.preventDefault();
    
        var form = $(this);
        var exameId = form.find('#exameId').val();
    
        $.ajax({
          type: 'POST',
          url: '/exames/' + exameId + '/close',
          success: function(response) {
            alert(response.message);
            form[0].reset();
          },
          error: function(xhr, textStatus, error) {
            var errorMessage = xhr.responseJSON.error;
            alert(errorMessage);
          }
        });
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script>
    $(document).ready(function () {
      // Fetch questions using AJAX and populate the select element
      $.ajax({
        type: 'GET',
        url: '/get_questions',
        success: function (response) {
          var selectElement = $('#questionSelect');
          $.each(response, function (index, question) {
            var option = $('<option>')
              .val(question.id)
              .text(question.question);
            selectElement.append(option);
          });
        },
        error: function (xhr, textStatus, error) {
          console.error(xhr.status + ': ' + xhr.responseText);
        }
      }); 
      
    });

    const questionTypeSelect = document.getElementById('questionType');
    const optionsField = document.getElementById('optionsField');

    questionTypeSelect.addEventListener('change', () => {
        const selectedType = questionTypeSelect.value;
        optionsField.style.display = selectedType === 'multiple_choice' ? 'block' : 'none';
    })
  </script>
  
</body>
</html>
  
  