<!DOCTYPE html>
<html>
<head>
  <title>Flask App</title>
  <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
</head>
<body>
  <div class="container">
    <h1>Welcome to Mudow!</h1>

    <div class="grid-container">
      <div class="grid-item">
        <h2>Create Question</h2>
        <form id="questionForm" action="/questions" method="POST">
          <!-- Question form fields -->
          <label for="questionText">Question:</label>
          <input type="text" id="questionText" name="question" required><br><br>

          <label for="answerText">Answer:</label>
          <input type="text" id="answerText" name="answer" required><br><br>

          <label for="scoreInput">Score:</label>
          <input type="number" id="scoreInput" name="score" required><br><br>

          <input type="submit" value="Create Question">
        </form>
      </div>

      <div class="grid-item">
        <h2>Select Question</h2>
        <form id="examForm" action="/exames" method="POST">
          <!-- Exam form fields -->
          <div class="select-question">
            <label for="questionSelect">Select a Question:</label>
            <select id="questionSelect" name="questionSelect">
              <option value="1">Question 1</option>
              <option value="2">Question 2</option>
              <!-- Add more options as needed -->
            </select>
            <button type="button" id="addQuestionBtn">Add Question</button>
          </div>

          <div id="selectedQuestionsContainer">
            <!-- Selected questions will be dynamically added here -->
          </div>

          <div class="create-exam-button">
            <button type="submit">Create Exam</button>
          </div>
        </form>
      </div>

      <div class="grid-item">
        <h2>Generate Report</h2>
        <form id="reportForm">
          <label for="exameId">Exam ID:</label>
          <input type="text" id="exameId" name="exameId" required>
          <br><br>
          <button type="submit">Generate Report</button>
        </form>
      </div>

      <div class="grid-item">
        <h2>Close Exam</h2>
        <form id="closeExamForm">
          <label for="exameId">Exam ID:</label>
          <input type="text" id="exameId" name="exameId" required>
          <br><br>
          <button type="submit">Close Exam</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
  
  