<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{{url_for('static', filename=css_file)}}">
    <style>
        .container {
            background: linear-gradient(90deg, #C7C5F4, #776BCC);
        }
        h1 {
            color: #fff;
            text-align: center;
            margin-top: 50px;
            font-size: 28px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        body {
            background: transparent;
        }
    </style>
</head>
<body>
    <h1>Registre-se agora mesmo!</h1>


    <div class="container">

        <form action="{{ url_for('register_route') }}" method="POST" class="form">
            {% if msg %}
            <p>{{ msg }}</p>
            {% endif %}
            <p class="title">Registro </p>
            <p class="message">Registre-se para aplicar ou responder exames online. </p>
         
            <label>
                <input required="" placeholder="" type="text" name="username" class="input">
                <span>Usuário</span>
            </label>
         
            <label>
                <input required="" placeholder="" type="email" name="email" class="input">
                <span>Email</span>
            </label> 
            
            <label>
                <input required="" placeholder="" type="password" name="password" class="input">
                <span>Senha</span>
            </label>
            <label>
                <span>Função: </span>
                <select name="role" required>
                    <option value="">Escolha uma opção</option>
                    <option value="professor">Professor</option>
                    <option value="estudante">Estudante</option>
                </select>
            </label>
            <button class="submit">Registrar</button>
            <p class="signin">Já possui uma conta? <a href="{{ url_for('login_route') }}">Login</a></p>
        </form>
    </div>
    
</body>
</html>
